#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal header img {
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/** ================= **/

.photograph-header {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-height: 316px;
    padding: 50px 56px;
    background-color: #fafafa;
}

.photograph-header .portrait-box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    fill: #C4C4C4;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}

.photograph-header .portrait-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 300px;
    max-width: 310px;
    object-position: 50% 50%;
    object-fit: cover;
    margin: 0;
}

.photograph-header h1,
.photograph-header .localisation,
.photograph-header .tagline {
    font-family: "DM Sans";
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    margin: 0;
}

.photograph-header h1 {
    font-size: 64px;
    line-height: 83px;
    color: #d3573c;
}

.photograph-header .localisation {
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 19px;
}

.photograph-header .tagline {
    color: #525252;
    font-size: 18px;
    line-height: 23px;
    margin: 19px 0;
}

.photograph-header .contact_button:hover {
    color: #000;
    background: #DB8876;
}

/** ======================================================= **/

.gallery-section {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 100px;
}

.gallery-section .sort {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 25px;
}

.gallery-section .sort label,
.gallery-section .sort #sort-btn {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.gallery-section .sort #sort-btn {
    position: relative;
    background-color: #901C1C;
    color: #fff;
    height: 56px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 0px 23px;
}

.gallery-section .sort #sort-btn::backdrop {
    background-color: yellow;
}

.gallery-section .sort #sort-btn option {
    outline: none;
    padding: 20px 23px;
    border-radius: 0;
    border-bottom: 2px solid #fff;
}

.gallery-section .sort #sort-btn option:last-child {
    border-bottom: none;
}

.gallery-section .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    padding: 50px 0;
}

.gallery-section .gallery .link {
    display: flex;
    width: calc((100% - 40px) / 3);
    flex-flow: column nowrap;
}

.gallery-section .gallery .link .media {
    width: 100%;
}

.gallery-section .gallery img,
.gallery-section .gallery video {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}


.gallery-section .gallery .description-photo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.gallery-section .gallery .description-photo p,
.gallery-section .gallery .description-photo a {
    font-family: DM Sans;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 0;
    overflow-wrap: break-word;
}

.gallery-section .gallery .description-photo .like {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.gallery-section .gallery .description-photo .like img {
    width: 21px;
    height: 24px;
}

/** ======================================== **/

.container-bottom {
    box-sizing: border-box;
    width: 376px;
    height: 89px;
    position: fixed;
    bottom: -13px;
    right: 36px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background: #DB8876;
    border-radius: 5px;
    padding: 21px 31px;
}

.container-bottom b,
.container-bottom p {
    font-family: DM Sans;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
}

.container-bottom .like {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.container-bottom .like img {
    width: 21px;
    height: 24px;
    filter: brightness(0);
}

/* ============================================= */

#contact_modal {
    position: fixed;
    display: none;
    align-items: start;
    justify-content: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 62px 0;
    z-index: 10;
}

.modal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    width: 669px;
    height: 100%;
    max-height: 900px;
    padding: 15px 20px;
    background-color: #DB8876;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact_modal .modal header {
    display: flex;
    align-items: start;
    width: 100%;
    height: fit-content;
}

#contact_modal .modal h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 83.33px;
    text-align: left;
    text-wrap: balance;
    padding-left: 15px;
}

#contact_modal .modal .btn-close {
    padding-top: 5px;
}

#contact_modal .modal .input {
    margin: 0 15px;
}

#contact_modal .modal .input label {
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #312E2E;
}

#contact_modal .modal .input input {
    border-radius: 5px;
    background: #FFF;
    width: calc(100% - 30px);
    height: 68px;
}

#contact_modal .modal textarea {
    width: calc(100% - 30px);
    height: 170px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}

#contact_modal .modal .contact_button {
    padding: 10px 25px;
    margin-top: 26px;
    margin-left: 15px;
}

.modal button {
    background: none;
    border: none;
    outline: none;
    border-radius: 5px;
}

*:focus {
    outline: 3px solid #1C1C90 !important;
}

.modal form fieldset {
    width: calc(100% - 13px);
    border: none;
}

.modal form button {
    background: #901C1C;
}

/* ============================================= */

.modal-carousel {
    position: fixed;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 2%;
    box-sizing: border-box;
}

.container-carousel {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 1242px;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.container-carousel img,
.container-carousel video {
    object-fit: cover;
    max-width: 1050px;
    height: 80%;
    margin: 0;
    box-shadow: 2px 0 #C4C4C4;

}

.container-carousel p,
.modal-carousel a {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #901C1C;
    margin: 0;
}

.container-carousel p {
    width: 100%;
    padding: 15px 0;
}

.modal-carousel a {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 900;
    cursor: pointer;
}

.modal-carousel .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    font-weight: 700;
    width: 42px;
    height: 42px;
    color: #901C1C;
    border: none;
    background: none;
}

.modal-carousel .btn-carousel {
    font-size: 5rem;
    color: #901C1C;
    font-weight: 900;
    cursor: pointer;
}

/* ============================================= */

.no-scroll {
    overflow: hidden;
}

@media (height < 1024px) {
    #contact_modal {
        padding: 32px 0;
    }

    .modal {
        height: calc(100% - 64px);
    }

    #contact_modal .modal header {
        display: flex;
        align-items: start;
        width: 100%;
        height: fit-content;
    }

    #contact_modal .modal h2 {
        font-size: 46px;
        line-height: 1em;
    }

    #contact_modal .modal .input label {
        font-size: 28px;
    }

    #contact_modal .modal .input input {
        height: 48px;
    }

    #contact_modal .modal textarea {
        height: 120px;
    }

    .btn-close img {
        width: 32px;
        height: 32px;
    }

}