@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
}

header a {
    display: block;
    width: fit-content;
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
    margin-bottom: 15px;
}

.photographer_section li {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc((100% - 160px) / 3);
}

.photographer_section li h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}

.photographer_section li img {
    height: 200px;
    width: 310px;
    object-position: 50% 50%;
    object-fit: cover;
    margin: 0;
}

/* ============================================ */

.photographer_section li .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.photographer_section li a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    box-sizing: border-box;
}

.photographer_section li a:focus {
    outline: 2px solid #901C1C;
}

.photographer_section li footer {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.photographer_section li footer * {
    margin: 0;
    font-family: DM Sans;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

.photographer_section li footer .localisation {
    color: #901C1C;
    padding: 1px 0;
    font-size: 13px;
    line-height: 17px;
}

.photographer_section li footer p {
    font-size: 10px;
    line-height: 13px;
}

.photographer_section li footer b {
    font-size: 9px;
    line-height: 12px;
    color: #757575;
}